html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(#907aff, #75d3ff) no-repeat;
    background-size: cover;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

/* Estilo para los mensajes de error */
.error {
    color: #cc0000;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

button {
    background: linear-gradient(to left, #907aff, #75d3ff) no-repeat;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #4cae4c;
}